@import "components/font.scss";

.topic_page {
    margin: 0;
    padding: 0;
    @include font-family;
}

.search_topic {
    width: 80% !important;
    margin: auto;

    div {
        border-radius: 16px !important;
    }
}

.pin_container {
    margin: 0;
    padding: 0;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 10px;
    justify-content: center;
    margin: auto;
}

.card {
    padding: 10px;
    margin: 10px 10px;
    /* border-radius: 16px; */
    background-color: $background-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #eceff1;
    position: relative;
    grid-row-end: span 25;
    display: flex;
    justify-content: center;
    align-items: center;
    @include font-style(600, 30px, 20px);
    line-height: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

// .card_title a {
//     @include font-style(600, 30px, normal);
// }
